<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h2>Analysis Report</h2>

		<p><%= link_to "(PDF)", report_path(@candidate, :format => 'pdf') %></p>

		<hr><br>

		<%= render 'candidates/role_report' %>

		<%= render 'candidates/tdna_report' %>

	</div>
</div>